# Logs
logs
*.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.env
*.local
apps/api/auth.db
.turbo/
.dist/
.vercel/
.antigravitycli/
playwright-report/
test-results/
release-summary.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# trigger CI
